<div class="container" class="editPage">
    <h2>Details of {{ character.name }}</h2>

    <hr>

    <h3> Occupation: {{ character.occupation }} </h3>

    <p> Weapon: {{ character.weapon }} </p>


    <a href="/edit/{{character.id}}" class="btn btn-success">Edit character</a>

</div>