<h2> Characters List </h2>

<ul>
    {{#each characters }}
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> <a href="/characters/{{id}}" class="link-warning"> {{ name }}> </li>
    </ul>
    {{/each}}
</ul>